---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col justify-center items-center">
  <span class="text-xl animate-fade-in animate-delay-400 uppercase text-secondary bg-primary px-5 py-1 mb-9 font-medium">
    Presentación de la
    </span  >
  <HeroLogo class=" text-primary animate-fade-in-up w-[300px] h-auto md:w-[600px]" />
</section>
